@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import './components/layout';
@import './components/common/spinner';

body {
  -webkit-app-region: drag;
  overflow-y: hidden;
}

html, body {
  height: 100%;
}
