{
  "ecmaFeatures": {
    "jsx": true
  },
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true,
    "jasmine": true
  },
  "globals": {
    "React": true
  },
  "rules": {
    "no-console": 0,
    "indent": ["error", 2],
    "one-var": [2, "never"],
    "semi": [2, "always"],
    "no-var": 2,
    "react/jsx-uses-vars": "error"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react"]
}
