.player {
  align-items: center;
  background-color: #f1f1f1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;

  font-size: small;

  .borderless {
    border-color: transparent;
  }

  .player-controls .player-progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .player-podcast-info {
    align-self: flex-start;
    margin: 0;
  }

  .player-progress-bar {
    width: 100%;
  }

  .time-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    p {
      margin: 0;
    }
  }
}

@import './progress-bar';
@import './volume';
