.player {
  align-items: center;
  background-color: #f1f1f1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;

  .borderless {
    border-color: transparent;
  }
}

@import './progress-bar';
@import './volume';
