.progress-bar-container {
  background-color: #aaa;
  border-radius: 0.25em;
  height: 0.5em;
  position: relative;
  width: 100%;

  .progress-bar-ribbon {
    border-radius: 0.25em;
    height: 100%;
    line-height: inherit;
    position: absolute;
  }

  .progress-bar-handle {
    background-color: #fff;
    border-radius: 0.25em;
    height: 100%;
    position: absolute;
    right: -5px;
    width: 10px;
  }

  .play-progress {
    background-color: #0275d8;
  }

  .load-progress {
    background-color: #ddd;
  }
}
